<!--This is where the top level navigation items will go:-->
<ul class="nav navbar-nav">
  <li ng-repeat="navItem in navTree"
      ng-class="{'active-tab':navItem.active}">
    <a ng-click="selectTab(navItem)" class="{{navItem.cssClass}} {{navItem.statusColour}}"><span class="tab-label">{{navItem.displayName}}</span></a>
  </li>
</ul>

<!--This is where the notification menu will go:-->
<div ui-view="notifications-menu"></div>