<style>

  td{
    min-width: 30px;
    /*max-height: 30px;*/
    text-align:center;
  }
  th{
    text-align:center;
  }

  .table {
    border: 0.5px solid #000000;
  }

  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
     border: 0.5px solid #000000;
  }

</style>


<div ng-if="!isEmpty()">
    <div style="height: 100%; margin-bottom: 1%;">
        <table class="table table-bordered table-striped" style="width: 100%;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in activeWorkflows">
              <td class="bg-success">{{item.name}}</td>
              <td class="bg-success">{{item.status}}</td>
              <td class="bg-success">{{item.comment}}</td>
            </tr>
            <tr ng-repeat="item in pausedWorkflows">
              <td class="bg-warning">{{item.name}}</td>
              <td class="bg-warning">{{item.status}}</td>
              <td class="bg-warning">{{item.comment}}</td>
            </tr>
            <tr ng-repeat="item in stoppedWorkflows">
              <td class="bg-danger">{{item.name}}</td>
              <td class="bg-danger">Stopped</td>
              <td class="bg-danger">{{item.comment}}</td>
            </tr>
          </tbody>
      </table>
    </div>
</div>


<div ng-if="isEmpty()">
  <h3 style="text-align:center">No Work Flow Information Available</h3>
</div>
