
<div class="matrixDrillDown">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th><th style="text-align:left" ng-repeat="(key, value) in data[0]">{{key}}</th>
      </tr>

    </thead>

    <tbody>
      <tr ng-repeat = "item in data">
        <td>{{item.num}}</td><td ng-repeat = "(key, value) in item"> {{value}}</td>
      </tr>

    <tbody>
  </table>

  <br>
    <uib-pagination
           force-ellipses="true"
           ng-model="currentPage"
           total-items="totalItems"
           items-per-page="numPerPage"
           max-size="maxSize"
           boundary-link-numbers="true"
           boundary-links="true">
    </uib-pagination>
  <br>

  <button class="btn btn-primary" type="button" style="margin: 20px" ng-click="ok()">OK</button>
</div>
