<style>

  td{
    min-width: 30px;
    /*max-height: 30px;*/
    text-align:center;
  }
  th{
    text-align:center;
  }
</style>

<div ng-if="isEmpty()">
  <h3 style="text-align:center">No Invalid, Rejected, or Unmatched Transactions in the System</h3>
</div>

<div ng-if="!isEmpty()">
    <div style="height: 100%; margin-bottom: 1%;">
    <table class="table table-bordered table-condensed">

      <thead>

      <tr>
        <th colspan="2"></th>
        <th colspan="17" style="background: #00008B; color: white">Outstanding Business Days from Value Date</th>
      </tr>

      <tr>
        <th  style="background: #00008B; color: white">Aging Analysis</th>
        <th  style="background: #00008B; color: white">Total</th>
        <th class="delays" ng-repeat="data in data.incomplete.data">{{data.delay}}</th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <td style="background: #00008B; color: white" colspan="19"></td>
        </tr>

        <!--Incompletes-->
        <tr>
          <td><b>Incomplete</b></td>
          <td class= "totals"><b>{{data.incomplete.total}}</b></td>
          <td ng-repeat="data in data.incomplete.data" ng-click="data.count !== 0 ? setModelQuery('incomplete', data.delay, data.count): null" style= "background: hsla({{getColour(data.colour)}},60%,60%,{{data.count == 0 ? 0.0 : 1.0}})">{{data.count == 0 ? "" :data.count }}</td>
        </tr>
         <tr>
          <td style="background: #00008B; color: white" colspan="19"></td>
        </tr>

        <!--SBSA/Internal Rejected-->
        <tr>
          <td><b>Internal Rejected</b></td>
          <td class= "totals"><b>{{data.internalRejected.total}}</b></td>
          <td ng-repeat="data in data.internalRejected.data" ng-click="data.count !== 0 ? setModelQuery('internalRejected', data.delay, data.count): null" style= "background: hsla({{getColour(data.colour)}},60%,60%,{{data.count == 0 ? 0.0 : 1.0}})">{{data.count == 0 ? "" :data.count }}</td>
        </tr>
        <!--Regulator Rejected-->
        <tr>
          <td><b>Regulator Rejected</b></td>
          <td class= "totals"><b>{{data.sarbRejected.total}}</b></td>
          <td ng-repeat="data in data.sarbRejected.data" ng-click="data.count !== 0 ? setModelQuery('sarbRejected', data.delay, data.count): null" style= "background: hsla({{getColour(data.colour)}},60%,60%,{{data.count == 0 ? 0.0 : 1.0}})">{{data.count == 0 ? "" :data.count }}</td>
        </tr>
         <tr>
          <td style="background: #00008B; color: white" colspan="19"></td>
        </tr>

        <!--Unmatched Transactions-->
        <tr>
          <td><b>Unmatched Transactions</b></td>
          <td class= "totals"><b>{{data.unmatchedTransactions.total}}</b></td>
          <td ng-repeat="data in data.unmatchedTransactions.data" ng-click="data.count !== 0 ? setModelQuery('unmatchedTransactions', data.delay, data.count): null" style= "background: hsla({{getColour(data.colour)}},60%,60%,{{data.count == 0 ? 0.0 : 1.0}})">{{data.count == 0 ? "" :data.count }}</td>
        </tr>
        <!--Unmatched Account Entries-->
        <tr>
          <td><b>Unmatched Account Entries</b></td>
          <td class= "totals"><b>{{data.unmatchedAccountEntries.total}}</b></td>
          <td ng-repeat="data in data.unmatchedAccountEntries.data" ng-click="data.count !== 0 ? setModelQuery('unmatchedAccountEntries', data.delay, data.count): null" style= "background: hsla({{getColour(data.colour)}},60%,60%,{{data.count == 0 ? 0.0 : 1.0}})">{{data.count == 0 ? "" :data.count }}</td>
        </tr>
         <tr>
          <td style="background: #00008B; color: white" colspan="19"></td>
        </tr>

        <!--Authorise-->
        <tr>
          <td><b>Authorise</b></td>
          <td class= "totals"><b>{{data.authorise.total}}</b></td>
          <td ng-repeat="data in data.authorise.data" ng-click="data.count !== 0 ? setModelQuery('authorise', data.delay, data.count): null" style= "background: hsla({{getColour(data.colour)}},60%,60%,{{data.count == 0 ? 0.0 : 1.0}})">{{data.count == 0 ? "" :data.count }}</td>
        </tr>
         <tr>
          <td style="background: #00008B; color: white" colspan="19"></td>
        </tr>


      </tbody>

    </table>
  </div>
</div>