<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3>{{user.id ? 'Edit' : 'Add' }} User
    <small>Created: {{user.createDate}}, Enabled: {{user.enabled}}</small>
  </h3>
</div>
<div class="modal-body">
  <form name="userForm" autocomplete="off" class="defaultForm">

    <div class="form-group">
      <label for="username" ng-class="elementRequired(user.username)">User Name</label>
      <input id="username" class="form-control" ng-model="user.username" focus-on required/>
    </div>

    <div class="form-group">
      <label for="authProvider" ng-class="elementRequired(user.authProvider)">Auth Provider</label>

      <div class="controls">
        <select id="authProvider" ng-model="user.authProvider" ng-change="user.passwordHash = ''; confirmPassword = '';"
                ng-options="authProvider for authProvider in authProviders" required></select>
      </div>
    </div>

    <div class="form-group" ng-hide="user.authProvider=='ACTIVE_DIRECTORY'">
      <label for="password" ng-class="elementConditionallyRequired(passwordValid())">Password</label>
      <input id="password" type="password" autocomplete="off" class="form-control"
             ng-model="user.passwordHash"
             ng-required="user.authProvider!='ACTIVE_DIRECTORY' && !passwordValid()"/>
    </div>

    <div class="form-group" ng-hide="user.authProvider=='ACTIVE_DIRECTORY'">
      <label for="confirmPassword" ng-class="elementConditionallyRequired(passwordValid())">Confirm Password</label>
      <input id="confirmPassword" type="password" class="form-control"
             ng-model="confirmPassword"
             ng-required="user.authProvider != 'ACTIVE_DIRECTORY' && !passwordValid()"/>
    </div>

    <div class="form-group form-error" ng-show="!passwordValid()">
    	Passwords do not match
    </div>

	<div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" ng-model="user.email" />
    </div>

	<div class="form-group">
      <label for="sms">SMS</label>
      <input id="sms" class="form-control" ng-model="user.sms" />
    </div>

    <div class="form-group">
      <label ng-class="elementRequired(user.groups.length)" class="control-label">Groups</label>

      <div class="controls">
        <dropdown-multiselect pre-selected="user.groups" model="user.groups"
                              options="groups" empty-message="Please select" required></dropdown-multiselect>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
	<button type="button" class="button" ng-click="cancel()" ng-show="!saving">Cancel</button>
    <button type="button" class="color green button" ng-click="ok()"
    	ng-disabled="userForm.$invalid || !passwordValid() || user.groups.length == 0 || saving">
    	{{saving ? 'Saving' : 'Save'}}
    </button>
</div>
