<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3>{{group.id ? 'Edit' : 'Add' }} Group</h3>
</div>
<div class="modal-body">
  <form  name="groupForm" class="defaultForm">

    <div class="form-group">
      <label for="name" ng-class="elementRequired(group.name)">Group Name</label>
      <input id="name" class="form-control" ng-model="group.name" focus-on required/>
    </div>

    <div class="form-group">
      <label for="description">Group Description</label>
      <input id="description" class="form-control" ng-model="group.description"/>
    </div>

    <div class="form-group">
      <label ng-class="elementRequired(group.roles.length)" class="control-label">Roles</label>

      <div class="controls">
        <dropdown-multiselect pre-selected="group.roles" model="group.roles"
                              options="roles" empty-message="Please select"></dropdown-multiselect>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
    <button type="button" class="button" ng-click="cancel()" ng-show="!saving">Cancel</button>
    <button type="button" class="color green button" ng-click="ok()" ng-disabled="groupForm.$invalid || group.roles.length == 0 || saving">
    	{{saving ? 'Saving' : 'Save'}}
    </button>
</div>


