<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3>{{role.id ? 'Edit' : 'Add' }} Role</h3>
</div>
<div class="modal-body">
  <form  name="roleForm" class="defaultForm">

    <div class="form-group">
      <label for="name" ng-class="elementRequired(role.name)">Role Name</label>
      <input id="name" class="form-control" ng-model="role.name" focus-on required/>

    </div>

    <div class="form-group">
      <label for="description">Role Description</label>
      <input id="description" class="form-control" ng-model="role.description"/>
    </div>

    <div class="form-group">
      <label ng-class="elementRequired(role.permissions.length)" class="control-label">Permissions</label>

      <div class="controls">
        <dropdown-multiselect pre-selected="role.permissions" model="role.permissions"
                              options="permissions" empty-message="Please select"></dropdown-multiselect>
      </div>
    </div>

    <div class="form-group">
      <label ng-class="elementRequired(role.feeds.length)" class="control-label">Feeds</label>

      <div class="controls">
        <dropdown-multiselect pre-selected="role.feeds" model="role.feeds"
                              options="feedData" empty-message="Please select"></dropdown-multiselect>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
	<button type="button" class="button" ng-click="cancel()" ng-show="!saving">Cancel</button>
    <button type="button" class="color green button" ng-click="ok()" ng-disabled="roleForm.$invalid || role.permissions.length == 0 || saving">
    	{{saving ? 'Saving' : 'Save'}}
    </button>
</div>


