<h1>Groups settings</h1>
<div class="box">
  <div class="i_user box-header">
    <span class="title-line">Groups</span>
    <span class="info-line">Manage groups and link group roles for the system from this screen.</span>
  </div>

  <div class="widget_content">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group pull-right" role="group" aria-label="...">
        <button ng-click="editGroup({})" type="button" class="color green button"><span
                class="fa fa-plus fa-lg">&nbsp;</span>Add Group
        </button>
      </div>
    </div>
    <table ng-if="groups" class="table table-condensed">
      <thead>
      <tr>
        <th>Group Name</th>
        <th>Description</th>
        <th>Roles</th>
        <th>Enabled</th>
        <th style="width: 20%">Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="group in groups">
        <td>{{group.name}}</td>
        <td>{{group.description}}</td>
        <td>{{listRoles(group)}}</td>
        <td>
          <span ng-show="group.enabled"><i class="glyphicon glyphicon-ok"></i></span>
          <span ng-show="!group.enabled"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td>
          <button class="button-xs" ng-click="editGroup(group)">
            <span class="fa fa-edit fa-lg"></span> Edit
          </button>
          <button class="button-xs" ng-click="enableDisableGroup(group)">
            <span class="fa fa-remove fa-lg"></span> {{ group.enabled ? 'Disable' : 'Enable' }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-if="!groups" id="no-data-block" class="hidden_info">
      <div class="bs-callout bs-callout-info">
        <h4>No Groups Specified</h4>

        <p>There is currently no groups specified. Use the Add Group button to add a new entry.</p>
      </div>
    </div>
  </div>
</div>