<h1>Users Settings</h1>

<div class="box">
  <div class="i_user box-header">
    <span class="title-line">Users</span>
    <span class="info-line">Manage users and user access rights for the system from this screen.</span>
  </div>

  <div class="widget_content">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group pull-right" role="group" aria-label="...">
        <button ng-click="editUser({})" type="button" class="color green button"><span
                class="fa fa-plus fa-lg">&nbsp;</span>Add User
        </button>
      </div>
    </div>
    <table ng-if="users" class="table table-condensed">
      <thead>
      <tr>
        <th>User Name</th>
        <th>Groups</th>
        <th>Enabled</th>
        <th style="width: 20%">Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>{{listGroups(user)}}</td>
        <td>
          <span ng-show="user.enabled"><i class="glyphicon glyphicon-ok"></i></span>
          <span ng-show="!user.enabled"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td>
          <button class="button-xs" ng-click="editUser(user)">
            <span class="fa fa-edit fa-lg"></span> Edit
          </button>
          <button class="button-xs" ng-click="enableDisableUser(user)">
            <span class="fa fa-remove fa-lg"></span> {{ user.enabled ? 'Disable' : 'Enable' }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-if="!users" id="no-data-block" class="hidden_info">
      <div class="bs-callout bs-callout-info">
        <h4>No Users Specified</h4>

        <p>There is currently no users specified. Use the Add User button to add a new entry.</p>
      </div>
    </div>

  </div>
</div>
