<h1>Roles Settings</h1>
<div class="box">
  <div class="i_user box-header">
    <span class="title-line">Roles</span>
    <span class="info-line">Manage roles and link permissions for the system from this screen.</span>
  </div>
  <div class="widget_content">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group pull-right" role="group" aria-label="...">
        <button ng-click="editRole({})" type="button" class="color green button"><span
                class="fa fa-plus fa-lg">&nbsp;</span>Add Role
        </button>
      </div>
    </div>
    <table ng-if="roles" class="table table-condensed">
      <thead>
      <tr>
        <th>Role Name</th>
        <th>Description</th>
        <th>Permissions</th>
        <th>Enabled</th>
        <th style="width: 20%">Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="role in roles">
        <td>{{role.name}}</td>
        <td>{{role.description}}</td>
        <td>{{listPermissions(role)}}</td>
        <td>
          <span ng-show="role.enabled"><i class="glyphicon glyphicon-ok"></i></span>
          <span ng-show="!role.enabled"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td>
          <button class="button-xs" ng-click="editRole(role)">
            <span class="fa fa-edit fa-lg"></span> Edit
          </button>
          <button class="button-xs" ng-click="enableDisableRole(role)">
            <span class="fa fa-remove fa-lg"></span> {{ role.enabled ? 'Disable' : 'Enable' }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-if="!roles" id="no-data-block" class="hidden_info">
      <div class="bs-callout bs-callout-info">
        <h4>No Roles Specified</h4>

        <p>There is currently no roles specified. Use the Add Role button to add a new entry.</p>
      </div>
    </div>

  </div>
</div>
