<ul class="nav navbar-nav navbar-right">
    <li class="dropdown notification-drop-down">
        <a href="#" ng-click="updateDiffs()" class="dropdown-toggle" data-toggle="dropdown">
            <span ng-show="notifications.length!=0" class="badge">{{notifications.length}}</span>
            <i class="fa fa-bell"></i>
            <b class="caret"></b>
        </a>
        <ul id="nav navbar-nav navbar-right" class="dropdown-menu dropdown-alerts">
            <li ng-repeat="notification in notifications | orderBy:'id':true | limitTo:5">
                <div class="menu-divider"></div>
                <a href="#" ng-click="viewAllNotifications('/Overview/Notifications')">
                <!--<a href="#" ng-click="markRead(notification)">-->
                    <i ng-class="notificationType(notification)"></i>
                    <span class="notification-header">{{notification.header}}</span>
                    <br/>
                    {{notification.message}}
                    <span class="pull-right text-muted small">{{notification.diff}} </span>
                </a>
            </li>
            <li ng-show="notifications.length == 0" class="notification-none">No unread notifications</li>
            <li class="notifications-divider"></li>
            <li>
                <div class="text-center link-block">
                    <a ng-click="viewAllNotifications('/Overview/Notifications')">View All Notifications
                        {{notifications.length > 5
                        ?
                        '> ' + (notifications.length - 5) + ' more notification(s)' : ''}} </a>
                </div>
            </li>
        </ul>
    </li>
</ul>