<!--<li ng-click="selectDashboard(child,$event)">-->
    <!--<a class="{{child.cssClass}} sub-menu" title="{{child.description}}" >-->
        <!--<span>{{child.displayName}}</span>-->
        <!--<notification-badge value="child.badgeCount" inline-style="float:right;"></notification-badge>-->
    <!--</a>-->
    <!--<ul ng-if="child.children">-->
        <!--<li  ng-repeat="child in child.children" ng-include src="menuItemURL">-->
        <!--</li>-->
    <!--</ul>-->
<!--</li>-->

<!--<li ng-click="selectDashboard(child,$event)">-->
    <!--<a class="{{child.cssClass}} sub-menu" title="{{child.description}}" >-->
        <!--<span>{{child.displayName}}</span>-->
        <!--<notification-badge value="child.badgeCount" inline-style="float:right;"></notification-badge>-->
    <!--</a>-->
    <!--<ul ng-if="child.children" class="col-lg-2 col-md-2 col-sm-1 sub-menu-container">-->
        <!--<div class="navbar-collapse  collapse" aria-expanded="false" role="navigation">-->
            <!--<li class="nav nav-pills nav-stacked sub-menu"  ng-repeat="child in child.children" ng-include src="menuItemURL"></li>-->
        <!--</div>-->
    <!--</ul>-->
<!--</li>-->

<li ng-click="selectDashboard(child,$event)">
    <a class="{{child.cssClass}} menu-item" title="{{child.description}}" ng-class="{'active-dashboard':child.active}">
        <!--<notification-badge value="child.badgeCount" inline-style="float:right;"></notification-badge>-->
        <notification-badge value="child.badgeCount"></notification-badge>
        <span>{{child.displayName}}</span>
    </a>
    <ul ng-if="child.children" class="col-lg-2 col-md-2 col-sm-1 navbar-collapse  collapse sub-menu">
        <li class="nav nav-pills nav-stacked"   ng-repeat="child in child.children" ng-include src="menuItemURL">
        </li>
    </ul>
</li>