<style>
  td{
    min-width: 30px;
    /*max-height: 30px;*/
    text-align:center;
  }
  th{
    text-align:center;
  }

  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
     border: 0.5px solid #DCDCDC;
  }

  .holiday {
    background-color:	#c4c4c4;
  }
  .totals {
    background-color:		#4169E1;
    color: white;
  }
  .delays {
    background-color:	#c4c4c4;
    text-align:centre;
  }


</style>

<div ng-if="isEmpty()">
  <h3 style="text-align:center">No Transaction Information Available</h3>
</div>

<div ng-if="!isEmpty()">
  <div style="height: 100%; margin-bottom: 1%;">
    <table class="table table-bordered table-condensed">

      <thead>
      <!--<tr>
        <th colspan="2"></th>
        <th colspan="17" style="background: #00008B; color: white">Received Business Days from Value Date</th>
      </tr>-->

      <tr>
        <th  style="background: #00008B; color: white">Received Date</th>
        <th  style="background: #00008B; color: white">Total</th>
        <th class="delays" ng-repeat="item in vmData[0].data">{{item.delay}}</th>
      </tr>
      </thead>

      <tbody>
        <tr ng-repeat = "item in vmData">
          <td ng-class ="{'holiday' :isHoliday.isHoliday(item.date)}"><b>{{item.date}}</b></td>
          <td class= "totals"><b>{{item.total}}</b></td>
          <td ng-repeat="data in item.data" ng-click="data.count !== 0 ? setModelQuery(item.date, data.delay, data.count): null" style= "background: hsla({{getColour(data.colour)}},60%,60%,{{data.count == 0 ? 0.0 : 1.0}})">{{data.count == 0 ? "" :data.count }}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
