<!---------------------Note the code for the toolbox must be at the top of the screen------------------------------>
<!--This is the html for the displaying of the toolbox icons which toggles the opening and closing of the toolbox-->
<div ng-show="inEditMode" ng-click="openToolBox('right', false)"
     title="Click to open Toolbox"
     class="toolbox-button" ng-class="{'open':toolBoxOpen,'closed':!toolBoxOpen}" >
  <div class="toolbox-icon"><i class="fa fa-wrench fa-2x"></i></div>
</div>

<!---------------This is the html for the actual toolbox------------------------------------------------------------>
<div ng-show="toolBoxOpen&&inEditMode" class="toolbox">
  <div class="toolbox-header"><h4>Tool Box</h4></div>
  <ul as-sortable="toolboxSortableOptions" ng-model="widgetIcons">
    <li ng-repeat="widgetIcon in widgetIcons" as-sortable-item>
      <div as-sortable-item-handle>
        <widget-icon icon="widgetIcon"/>
      </div>
    </li>
  </ul>
</div>
<!------------------------------------------------------------------------------------------------------------------->
