<style>
    .app-modal-window .modal-dialog {
        position: absolute;
        top: 2%;
        left: 18.2%;
        width: 76%;
    }
    
    .bopFormBtnGroup {
        top: 0.5%;
        left: 78%;
        width: 20%;
        position: absolute;
    }
</style>
<div class="bopFormBtnGroup">
    <button type="button" class="btn "><img src="/icons/back.png" width="28" height="28"></button>
    <button type="button" class="btn  "><img src="/icons/validate.png" width="28" height="28"></button>
    <button type="button" class="btn "><img src="/icons/save.png" width="28" height="28"></button>
    <button type="button" class="btn"><img src="/icons/cancel.png" width="28" height="28"></button>
    <button type="button" class="btn"><img src="/icons/split.png" width="28" height="28"></button>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab heading="Edit Transactions">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of transactions</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="refList"></table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">The BOP Form</h3>
                </div>
                <div class="panel-body">
                    <!-- In this example, this is the angular container... -->
                    <div id="container">
                        <!--ng-controller="testPageCntrl"-->
                        <bopform data="bopData"></bopform>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="History">

            <div ui-grid="historyGridOptions" ui-grid-selection class="historyGrid"></div>
        </uib-tab>

    </uib-tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn "><span class="glyphicon glyphicon-floppy-save"></span> </button>
    <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-remove-sign"></span></button>
    <button type="button" class="btn "><span class="glyphicon glyphicon-asterisk"></button>
    <button type="button" class="btn" ng-click="close()">{{closeButtonText}}</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{actionButtonText}}</button>
</div>