<div ui-view="main-menu" class="top-menu"></div>

<!---------------------The side Menu Button----------------------------------------------------------------->
<!--This is the html for opening and closing the side menu (navigation tree)-------------------------------->
<div ng-click="toggleSideMenu()"
     title="Click to open the side menu"
     class="side-menu-container-button"
     ng-class="{'open':sideMenuOpen,'closed':!sideMenuOpen}" >
  <div class="grip-icon"><i class="fa fa-sitemap"></i></div>
</div>


<div class="row main-area">
  <!---------------This is the html for the side menu--------------------------------------------------------->
  <div ng-show="sideMenuOpen" class="side-menu-container col-lg-2">
    <div ui-view="side-menu"></div>
  </div>
  <!---------------------------------------------------------------------------------------------------------->
  
  <!---------------This is the html for the layout------------------------------------------------------------>
  <div class="layoutContainer" 
      ng-class="{'col-lg-10':sideMenuOpen, 'col-lg-12':!sideMenuOpen}">
    <div ui-view="layout" style="width: 100%; margin:auto;"></div>
  </div>
  <!---------------------------------------------------------------------------------------------------------->
</div>