<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3>{{configuration.id ? 'Edit' : 'Add' }} Configuration Value</h3>
</div>
<div class="modal-body">
    <form name="configurationForm" class="defaultForm">

		 <div class="form-group">
            <label for="key" ng-class="elementRequired(configuration.key)">Key</label>
            <input id="key" class="form-control" ng-model="configuration.key" focus-on required/>
        </div>

        <div class="form-group">
            <label for="value" ng-class="elementRequired(configuration.value)">Value</label>
            <input id="value" class="form-control" ng-model="configuration.value" required/>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="button" ng-click="cancel()" ng-show="!saving">Cancel</button>
    <button type="button" class="button" ng-click="ok()" ng-disabled="configurationForm.$invalid || saving">
    <!--<button type="button" class="color green button" ng-click="ok()" ng-disabled="configurationForm.$invalid || saving">-->
    	{{saving ? 'Saving' : 'Save'}}
    </button>
</div>
