<h1>Configuration Settings</h1>
<div class="box">
  <div class="i_configuration box-header">
    <span class="title-line">Configuration</span>
    <span class="info-line">Static and system configuration variables, these variables are used by the various dataflows.</span>
  </div>
  <div class="widget_content">
    <div class ="pull-left">
      <select  ng-options="feed.name for feed in feeds" ng-model="selectedFeed">
        <!--<option ng-repeat="feed in feeds" ng-model="selectedFeed">{{feed.name}}</option>-->
      </select>
    </div>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <button ng-click="editConfiguration({})" type="button" class="button"><span
              class="fa fa-plus fa-lg">&nbsp;</span>Add
        Configuration
      </button>
      <!--<button ng-click="editConfiguration({})" type="button" class="color green button"><span class="fa fa-plus fa-lg">&nbsp;</span>Add Configuration</button>-->
    </div>
    <table ng-if="configurations" class="table table-condensed">
      <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="configuration in configurations">
        <td>{{configuration.key}}</td>
        <td>{{configuration.value}}</td>
        <td>
          <button ng-click="editConfiguration(configuration)" type="button" class="button-xs">
            <span class="fa fa-edit fa-lg"></span> Edit
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-if="!configurations" id="no-data-block" class="hidden_info">
      <div class="bs-callout bs-callout-info">
        <h4>No Configuration Specified</h4>

        <p>There is currently no configuration specified for this entry. Use the Add Configuration button to add a new
          entry.</p>
      </div>
    </div>
  </div>
</div>
