<div class="navbar-collapse  collapse" aria-expanded="false" role="navigation">
  <ul class="nav nav-pills nav-stacked main-menu" >
    <li ng-repeat="item in settingsMenuItems" ng-click="selectSettings(child,$event)">
      <a class="{{item.cssClass}}" title="{{item.description}}" ng-click="setActiveMenuItem(item)" ui-sref="{{item.state}}" ng-class="{'active-dashboard':item.active}">
        <span>{{item.name}}</span>
        <!--<notification-badge value="child.badgeCount" inline-style="float:right;"></notification-badge>-->
      </a>
    </li>

  </ul>
</div>