<!--<h1>Data Sources: {{stateName}}</h1>-->
<!---------------------Note the code for the toolbox must be at the top of the screen------------------------------>
<!--This is the html for the displaying of the toolbox icons which toggles the opening and closing of the toolbox-->
<div ng-show="inEditMode" ng-click="openDataSources('right', false)"
     title="Click to open Datasources editor"
     class="datasources-button" ng-class="{'open':dataSourcesOpen,'closed':!dataSourcesOpen}">
    <div class="toolbox-icon"><i class="fa fa-database fa-2x"></i></div>
</div>
<!---------------This is the html for the actual toolbox------------------------------------------------------------>
<div ng-show="dataSourcesOpen&&inEditMode" class="datasources-box">
    <div class="toolbox-header"><h4>Datasources</h4></div>
    <!--Having errors with isolated scope here because we are using the as sortable library.-->
    <!--Need to use this library for the drag and drop functionality of the toolbox-->
    <ul as-sortable="toolboxSortableOptions" ng-model="dashboard.dataSources">
        <span class="datasources" ng-repeat="dataSource in dashboard.dataSources" as-sortable-item>
          <datasource-container datasourceconfig="dataSource" showheader="inEditMode" datasourcecontroller="getControllerConstructorFunction(dataSource)" dashboardscope="dashboardScope" />
      </span>
    </ul>
</div>
<!------------------------------------------------------------------------------------------------------------------->




