<div class="box datasource-container" ng-controller="dataSourceController">
  <div class="box-header drag-handle" ng-show="showHeader">
    <h4>{{dataSource.name}}</h4>
    <div class="box-header-btns pull-right">
      <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
      <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
  </div>
  <!--<div class="box-content-wrapper">-->
  <div class="box-content" ng-include="getContentUrl()" onload="postLoad()"></div>
  <!--</div>-->
</div>
