<div>
<input type="text" class="form-control" ng-model="text.searchText" ng-change="refreshData()" placeholder="Filter...">
<div ui-grid="transactionTableGridOptions"   class="transactionTableGrid" style="height:{{gridHeight}}" ></div>
</div>