<nav class="navbar navbar-inverse">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
   <a class="navbar-brand" ui-sref="dashboard" ng-click="rebindMenu()" ng-bind-html="brand()"></a>
  </div>
  <div class="navbar-collapse navbar-inverse-collapse collapse" aria-expanded="false">
    <!-- Top Menu Items -->
    <div ui-view="main-menu-tabs" class="main-menu-tabs"></div>
    <!--<ul class="nav navbar-nav">-->
      <!--<li ng-repeat="navItem in navTree"-->
          <!--ng-class="{active:isTabActive(navItem.displayName)}">-->
        <!--<a ng-click="selectTab(navItem)" class="i_system">{{navItem.displayName}}</a>-->
      <!--</li>-->
    <!--</ul>-->
    <div ui-view="main-menu-dropdown"></div>
  </div>
</nav>
