<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {{topItem.icon}}"></i> {{topItem.name}}<b
            class="caret"></b></a>
    <ul class="dropdown-menu">
      <li ng-repeat="item in listItems" ng-show="item.show()">
        <div class="menu-divider"></div>
        <a ng-click="item.click()"><i class="fa {{item.icon}} fa-fw"></i>{{item.name}}</a>
      </li>
      <!--<li>
      <a ng-show="checkSettingsPermissions()" ng-click="goToSettings()"><i class="fa fa-gear fa-fw"></i>Settings</a>
      </li>
      <li class="divider"></li>
      <li>
        <a ng-click="demoTour()"><i class="fa fa-question-circle fa-fw"></i> Help</a>
      </li>-->
      <li class="divider"></li>
      <li>
        <!--<a ng-click="logOut()"><i class="fa fa-power-off fa-fw"></i> Logout</a>-->
        <a onclick="window.location='/finsurv-dashboard/logout.jsp'"><i class="fa fa-power-off fa-fw"></i> Logout</a>
      </li>
    </ul>
  </li>
</ul>