<div class="synthesisLogo">
  <div class="hexagons">
    <div class="hexagon">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="hexagon">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="hexagonSolid">
    </div>
  </div>
  <span>synthesis</span>
</div>