<div class='btn-group' data-ng-class='{open: open}'>
  <div class="input-group">
    <div type="text" class="form-control dropdown-multiselect-container">
				<span ng-repeat='option in options' ng-show='isChecked(option.id)'>
					<span title="{{resolveTooltip(option)}}">{{resolveDisplayName(option)}}</span>
					<a ng-click='setSelectedItem()' class='fa fa-times dropdown-multiselect-item'></a>
				</span>
      <span class="dropdown-multiselect-empty" ng-show="empty_message && !hasSelection() ">{{empty_message}}</span>
    </div>
			<span class="input-group-btn">
				<button class='btn btn-default' data-ng-click='open=!open;openDropdown()'>
          <span class='fa fa-caret-down'></span>
        </button>
			</span>
  </div>
  <ul class='dropdown-menu' aria-labelledby='dropdownMenu'>
    <li>
      <a data-ng-click='selectAll()'><i class='fa fa-check-circle'></i> Check All</a>
    </li>
    <li>
      <a data-ng-click='deselectAll();'><i class='fa fa-times-circle'></i> Uncheck All</a>
    </li>
    <li class='divider'></li>
    <li data-ng-repeat='option in options'>
			<span ng-click='setSelectedItem()' class="dropdown-multiselect-list" title="{{resolveTooltip(option)}}">{{resolveDisplayName(option)}}
			<i ng-show="isChecked(option.id)" class='fa fa-check dropdown-multiselect-list-check'></i>
			</span>
    </li>
  </ul>
</div>