<style>

  td{
    min-width: 30px;
    /*max-height: 30px;*/
    text-align:center;
  }
  th{
    text-align:center;
  }

   .table {
    border: 0.5px solid #000000;
  }

  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
     border: 0.5px solid #000000;
  }
</style>


<div ng-if="!isEmpty()">
  <table class="table table-bordered table-striped" style="width: 100%; margin-bottom: 1%">


    <thead>
      <tr>
        <th>Reason</th>
        <th>Count</th>
      <tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in data">
        <td class="bg-danger">{{item.reason}}</td>
        <td class="bg-danger" ng-click="setModelQuery(item.reason, item.count)">{{item.count}}</td>
      </tr>
      <tr>
        <td ><b>Grand Total: </b></td>
        <td><b>{{totalCount}}</b></td>
      </tr>
    </tbody>

  </table>
</div>

<div ng-if="isEmpty()">
  <h3 style="text-align:center">No Problem Transactions in the System</h3>
</div>
