<div gridster="gridsterOptions" as-sortable="toolboxSortableOptions" ng-model="widget" ng-if="!maximisedMode">
  <ul class="widgetUL row">
    <li class="{{widget.class}}"
        gridster-item="widget.layout"
        ng-repeat="widget in dashboard.widgets">
      <widget-container widgetconfig="widget" showheader="true" show-header-in-edit-mode="inEditMode"
                        widgetcontroller="getControllerConstructorFunction(widget)"
                        dashboardscope="dashboardScope"/>
    </li>
  </ul>
</div>
<div ng-if="maximisedMode" class="maximised-widget">
  <div ng-repeat="widget in dashboard.widgets" ng-if="widget.name == maximisedWidgetName">
    <widget-container widgetconfig="widget" showheader="true" show-header-in-edit-mode="inEditMode"
                      widgetcontroller="getControllerConstructorFunction(widget)"
                      dashboardscope="dashboardScope"/>
  </div>
</div>