<div class="box shadow" ng-controller="widgetController" ng-class="{'box-edit':showHeaderInEditMode}">
  <div class="box-header drag-handle" ng-show="showHeader||showHeaderInEditMode" ng-class="{'box-header-edit':showHeaderInEditMode}">
    <h4>{{widget.name}}</h4>
    <!--TODO These buttons are only being commented out for now until their fucntionality has been added.-->
    <!--<div class="box-header-btns pull-right" ng-show="showHeaderInEditMode">-->
      <!--<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>-->
      <!--<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>-->
    <!--</div>-->
  </div>
  <!--<div class="box-content-wrapper">-->
  <div class="box-content" >
    <div el-size widget="widget" ng-include="getContentUrl()" onload="postLoad()"></div>
  </div>
  <!--</div>-->
</div>
