//Need the .. for gulp to compile the less file
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/css/font-awesome.css";
@import "../css/logo.less";
@import "../css/bootswatch.less";
@import "../css/variables.less";
// @import "../css/toolbox.css";
 @import "../bower_components/angular-ui-grid/ui-grid.min.css";
// @import "../bower_components/ng-sortable/dist/ng-sortable.css";
 @import "../bower_components/angular-gridster/dist/angular-gridster.min.css";

@import "../bower_components/nvd3/build/nv.d3.css";
//@import "../bower_components/ng-sortable/dist/ng-sortable.style.css";

//////VARIABLE DEFINITION START///////////////////////////////////////////////
@gray-darker: lighten(#000, 13.5%);
@gray-dark: lighten(#000, 20%);
@gray: lighten(#000, 33.5%);
@gray-light: lighten(#000, 60%);
@gray-lighter: lighten(#000, 93.5%);
@gray-lightest: lighten(#000, 97.25%);

@brand-primary: #3d65b1;

//This is the paper design from http://material-ui.com/#/components/paper
@paper1: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
@paper2: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
@paper1half: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
@paperhover: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

@section-background-color: white;
/*Adds opacity to the wells*/
@well-bg: rgba(200, 200, 200, 0.5);
@well-border: darken(@well-bg, 7%);

@panel-green: #3d8b3d;
@panel-red: #b52b27;
@panel-yellow: #d68609;
;
@panel-purple: #4b3c7b;
@panel-blue: #669feb;

@tool-box-width: 200px;
@datasources-box-height: 200px;
@widget-border-color: #ccc;
@widget-background-color: rgba(255, 255, 255, 0.9);
@widget-header-background-color: #eee;
//////VARIABLE DEFINITION END////////////////////////////////////////////////

//////FUNCTION DEFINITION START/////////////////////////////////////////////
@font-awesome-font-size: 15px;

.modal-dialog {
  width: auto;
  // margin: 100px;
  // padding: 100px;
  //padding:10px;
  //height: 50%;
  .delayDrillDown{

  }
}

.matrixDrillDown{
  padding: 20px;
  thead tr {
    background-color: lighten(@brand-primary, 20%);
  }
  overflow: auto;
}

.create_icon(@icon:'',@top-position:0px,@left-position:0px,@font-size:0px) {
  font-family: FontAwesome;
  top: @top-position;
  left: @left-position;
  content: @icon;
  font-size: @font-size;
}

.nav-menu-item-padding(@vertical:4px,@horizontal:7px) {
  li {
    a {
      &:hover {
        background-color: rgba(238, 238, 238, 0.5);
      }
      padding: @vertical @horizontal;
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/////////////////FUNCTION DEFINITION END/////////////////////////////////

////////////////TEXT-ICON DEFINITION START////////////////////////////////////
.i_dashboard:before {
  .create_icon("\f0e4", 10px, 10px, @font-awesome-font-size);
  font-family: FontAwesome;
}

.i_tasks:before {
  .create_icon("\f0ae", 10px, 10px, 20px);
}

.i_notification:before {
  .create_icon("\f0f3", 10px, 10px, @font-awesome-font-size);
}

.i_screen:before {
  .create_icon("\f1b2", 3px, 10px, @font-awesome-font-size);
}

.i_system:before {
  .create_icon("\f0e8", 3px, 10px, 20px);
}

.i_user:before {
  .create_icon("\f007", 10px, 10px, @font-awesome-font-size);
}

.i_groups:before {
  .create_icon("\f00a", 10px, 10px, @font-awesome-font-size);
}

.i_roles:before {
  .create_icon("\f009", 10px, 10px, @font-awesome-font-size);
}

.i_events:before {
  .create_icon("\f1ea", 10px, 10px, @font-awesome-font-size);
}

.i_configuration:before {
  .create_icon("\f013", 10px, 10px, @font-awesome-font-size);
}

.i_schedule:before {
  .create_icon("\f017", 10px, 10px, @font-awesome-font-size);
}

.i_datasource:before {
  .create_icon("\f1c0", 10px, 10px, @font-awesome-font-size);
}

////////////////TEXT-ICON DEFINITION END////////////////////////////////////


.widgetUL {
  li{
    list-style-type: none;  
    padding: 5px;
  }
  -webkit-padding-start: 0px;

}

html {
  height: 100%;
  color: #2b27ff;
}

body {
  background-size: cover;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  // .no-select;
  cursor: default;
  @media (max-width: @screen-xs-max) {
    top: 52px;
  }
}

.mainView {
  position: absolute;
  bottom: 1px;
  left: 0px;
  right: 0px;
  top: 0px;

}

.marketstream-logo {
  margin-right: 2px;
}

#baseCanvas {
  position: fixed;
}

#mainPage {
  height: 97%;
}

//.content_wrapper{
//  width: 100%;
//}
//
//.contents .content_actions{
//  margin: 12px 0 0;
//}
//
//.content_actions > li{
//  margin-left: 10px;
//}
//
//.content_wrapper .contents{
//  padding: 10px;
//}

///////////////////////////LOGIN SCREEN START///////////////////////////////////////
.navbar-brand {
  font-family: Helvetica, sans-serif;
  position: relative;
  font-weight: 100;
  > i {
    font-weight: 900;
    color: @brand-success;
  }
}

.navbar {
  @media (max-width: @screen-xs-max) {
    .navbar-fixed-top();
  }
  margin-bottom: 0px;
}

.loginScreen {
  height: 100%;
  .navbar-brand {
    float: none;
    font-size: xx-large;
  }
  .login-box {
    position: relative;
    top: 20%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0px 30px 10px 30px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    h3 {
      margin: 8px;
    }
  }
}

.form-group {
  margin-bottom: 5px;
}

.btn-login {
  padding-top: 3px;
  padding-bottom: 3px;
}

///////////////////////////LOGIN SCREEN END///////////////////////////////////////

///////////////////////////LOGIN MODAL START//////////////////////////////////////
.login-cancel {
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

///////////////////////////LOGIN MODAL END///////////////////////////////////////

///////////////////////////NAVBAR START///////////////////////////////////////
nav {
  cursor: default;
}

///////////////////////////NAVBAR END///////////////////////////////////////

////////////////////////////DASHBOARD SCREEN START////////////////////////////////
.tab-label {
  padding-left: 5px;
  color: white;
  font-size: 15px;
}

.tab_info {
  text-shadow: 0 1px 0 #FFFFFF;
  display: block;
  padding-left: 42px;
  font-size: 13px;
  display: block;
  position: relative;
  clear: right;
}

#myTabContent {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.dashboard-widgets {
  max-width: 310px;
}

.dashboard-widget-well {
  .well;
  .well-lg;
  margin-bottom: 0px;
  margin-bottom: 0px;
  border: none;
}

.close {
  color: black;
  &:hover {
    color: black;
  }
  transition: all .3s ease-out;
}

//Owing to the fact that we are using the navbar class to display our navbar, which contains the tabs
//the status classes had to be inserted here in order for them to be reached.
.navbar-inverse .navbar-nav > li {
  .status-yellow {
    color: @panel-yellow;
    &:hover {
      color: @panel-yellow;
    }
  }
  .status-red {
    color: @panel-red;
    &:hover {
      color: @panel-red;
    }
  }
  .status-green {
    color: @panel-green;
    &:hover {
      color: @panel-green;
    }
  }
  .status-blue {
    color: @panel-blue;
    &:hover {
      color: @panel-blue;
    }
  }
  .status-purple {
    color: @panel-purple;
    &:hover {
      color: @panel-purple;
    }
  }
}

.panel-yellow {
  a {
    color: @panel-yellow;
  }
  a:hover {
    color: ligthen(@panel-yellow, 30%);
  }
}

.panel-red {
  a {
    color: @panel-red;
  }
  a:hover {
    color: lighten(@panel-red, 8%);
  }
}

.panel-green {
  a {
    color: @panel-green;
  }
  a:hover {
    color: lighten(@panel-green, 8%);
  }
}

.panel-purple {
  a {
    color: @panel-purple;
  }
  a:hover {
    color: lighten(@panel-purple, 8%);
  }
}

.panel-blue {
  a {
    color: @panel-blue;
  }
  a:hover {
    color: lighten(@panel-blue, 8%);
  }
}

.panel-footer {
  background-color: rgba(200, 200, 200, 0.498039);
}

.large {
  font-size: 30px;
  line-height: normal;
}

//.tab_info {
//  font-size: 12px;
//  display: block;
//  position: relative;
//  left: 19px;
//}

.reconSubMenu {
  margin: -2px 0px 5px 15px;
  padding: 0 0 0 12px;
  height: auto;
  text-align: left;
  font-size: 14px;

}

.reconSubMenu {
  .badge {
    margin: 0px 0px 0px 0px;
  }
}

.as-sortable-item,
.as-sortable-placeholder, .as-sortable-drag {
  display: inline-block;
}

.as-sortable-placeholder {
  border: 1px dashed darkgrey;
  background-color: #dbdbdb;

}

.edit-button {
  position: fixed;
  right: 0px;
  top: 50px;
  opacity: 0.4;
  z-index: 1000;
  .pencil:before {
    .create_icon("\f040", 10px, 10px, 19px);
  }
  //.enabled:before {
  //  margin-right: 1px;
  //  //.create_icon("\f040", 10px, 10px, 19px);
  //  color: blue;
  //}
  .enabled {
    color: blue;
  }
  //.disabled:before {
  //  margin-right: 1px;
  //  //.create_icon("\f040", 10px, 10px, 19px);
  //};

  &.inEditMode {
    opacity: 1.0;
  }
}

.revert-layout-button {
  position: fixed;
  right: 40px;
  top: 50px;
  z-index: 1000;
  .refresh:before {
    .create_icon("\f021", 10px, 10px, 19px);
    color: black;
  }
}

.notification-drop-down {
  z-index: 1001;
}

.main-area {
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

@media(min-width:1200px){
  .side-menu-container {
    min-height: 100%;
  }
}

.side-menu-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0px;
  //width: @side-menu-container-width;
  border-right: 1px solid @widget-border-color;
  box-shadow: @paper2;
  cursor: pointer;
}

@media(max-width:1200px){
  .side-menu-container-button {
    display:none;
  }
}

.side-menu-container-button {
  width: 20px;
  height: 85px;
  line-height: 85px;
  position: absolute;
  background-color: #CDCDCD;
  opacity: 0.40;
  box-shadow: 0px 0px 6px #444444;
  z-index: 999;

  top: 50%;

  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  &.open {
    left: 15%;
  }
  &.closed {
    left: 0px;
  }
  .grip-icon {
    padding-left: 3px;
  }
}

.layoutContainer {
  height: 100%;
}

.top-menu {
  //border-bottom:solid 1px black;
  box-shadow: @paper2;
  cursor: pointer;
}

.active-dashboard {
  background-color: rgba(149, 149, 149, 0.28);
}

.active-tab {
  color: #ffffff;
  background-color: #304f8b;
}

.menu-hover-focus {
  li {
    a:hover, a:focus {
      .active-dashboard;
      color: #3d65b1;
    }
  }
}

.main-menu {
  .nav-menu-item-padding(4px, 7px);
  .sub-menu {
    .nav-menu-item-padding(3px, 7px);
    .menu-hover-focus;
  }
  .menu-hover-focus;
}

.main-menu-tabs {
  cursor: pointer;
}

.toolbox {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  height: 90%;
  width: @tool-box-width;
  position: fixed;
  top: 10%;
  right: 0px;
  z-index: 100;
}

.toolbox-button {
  width: 35px;
  height: 85px;
  line-height: 85px;
  padding-left:3px;
  position: fixed;
  background-color: #CDCDCD;
  opacity: 0.40;
  box-shadow: 0px 0px 6px #444444;
  z-index: 999;

  top: 50%;

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  &.open {
    right: @tool-box-width;
  }
  &.closed {
    right: 0px;
  }

}

.toolbox-header {
  background-color: @widget-header-background-color;
  padding: 0 30px 0 10px;
  border-bottom: 1px solid @widget-border-color;
  h4 {
    margin-top: 10px;
    display: inline-block;
  }
}

.datasources-button {
  width: 85px;
  height: 35px;
  position: fixed;
  background-color: #CDCDCD;
  opacity: 0.40;
  box-shadow: 0px 0px 6px #444444;
  z-index: 999;
  left: 50%;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  &.open {
    bottom: @datasources-box-height;
  }
  &.closed {
    bottom: 0px;
  }
  .toolbox-icon {
    padding: 2% 36%;
  }
}

.datasources-box {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  height: @datasources-box-height;
  width: 100%;
  position: fixed;
  bottom: 0%;
  right: 0px;
  z-index: 100;
}

.widget-icon {
  border: 1px solid @widget-border-color;
  background-color: @widget-background-color;
  text-align: center;
  i {
    font-size: 55px;
  }
}

.widget-icon-header {
  text-align: left;
  background-color: #eeeeee;
  padding: 0 0px 0 10px;
  border-bottom: 1px solid #cccccc;
}

.maximised-widget{
 //margin-top:10px;
 margin-left:-15px;
 margin-right:-15px;
}


//.widget_header_option > h3{
//  padding-left: 10px !important;
//}
//
//.widget_header_option > .widget_check{
//  border-right: 1px solid #CDCDCD;
//  float: left;
//  padding: 10px 3px 12px 12px;
//  text-align: center;
//  width: 25px;
//}
//
//.widget_option {
//  float: right;
//  font-size: 11px;
//  font-weight: bold;
//}
//
//.widget_option > a {
//  border-left: 1px solid #cdcdcd;
//  clear: both;
//  color: #636363;
//  display: block;
//  padding: 33px 20px 8px;
//  outline: none;
//}

.link-block {
  padding: 5px 5px;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    background-color: #304f8b;
  }
}

.notifications-divider {
  //This is the divider used in dropdown menus, needed to overwrite the margin settings.
  .dropdown-menu.divider;
  margin-bottom: 0px;
}

////////////////////////////DASHBOARD SCREEN END/////////////////////////////////
////////////////////////////MAIN MENU DROPDOWN START/////////////////////////////
.menu-divider {
  .dropdown-menu.divider;
  margin: 0px;
}

////////////////////////////MAIN MENU DROPDOWN END///////////////////////////////

/////////////////////////////FEED SCREEN END///////////////////////////////////
.widget_wrapper .widget_header {

  /*Gives widgets with the headings the same look as those in txstream*/
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  /*******************************************************************/

  border-bottom: 1px solid #CDCDCD;
  box-shadow: 0 1px 0 #FFFFFF;
  -moz-box-shadow: 0 1px 0 #FFFFFF;
  -webkit-box-shadow: 0 1px 0 #FFFFFF;
  position: relative;
  text-shadow: 0 1px #FFFFFF;
  height: 40px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.widget_content {
  padding: 10px 15px;
  height: auto;
  background-color: @section-background-color;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: @section-background-color;

}

.i_recon:before {

  //font-family: FontAwesome;
  //left:10px;
  //content: "\f0ec";
  //font-size: 30px;
}

.widget-toolbar {
  margin-right: 10px;
  margin-bottom: 50px;
  background-color: @section-background-color;
}

.reconciliation-table-toolbar {
  margin-top: 8px;
  margin-right: 10px;
  background-color: @section-background-color;
}

.widget {
  height: auto;

}

/*******UI grid start******/
.grid {
  font-size: 12px;
  //width: 100%;
  //height: 400px;
}

.ui-grid-header-cell {
  background-color: white;
  color: rgb(61, 101, 177);
  text-align: center;
}

.ui-grid-cell {
  .ui-grid-disable-selection {
    background-color: white;
  }
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: white;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #f9f9f9;
}

.ui-grid-render-container-left {
  //position:relative;
  //box-shadow: inset 0px 0px 0px 1px;
  .ui-grid-viewport {
    border-right: 1px solid rgb(174, 174, 174);;
  }
}

.ui-grid-menu-button {
  width: 16px;
  height: 0px;
  top: 14px;
  border: none;
}

.ui-grid-viewport {
  ::-webkit-scrollbar {
    width: 40px;
    height: 40px;
  }
}

/**************************/

/////////////////////////////FEED SCREEN END///////////////////////////////////
/////////////////////////////WIDGET CONTAINER START///////////////////////////////////
.box {
  height: 100%;
  border: 1px solid @widget-border-color;
  background-color: @widget-background-color;
  overflow: hidden;
  box-shadow: @paper2;
}

.box-edit {
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
}

.box-header {
  background-color: @widget-header-background-color;
  padding: 0 30px 0 10px;
  border-bottom: 1px solid @widget-border-color;
  position: relative;
  .no-select;
  h4 {

    cursor: default;
    margin-top: 10px;
    display: inline-block;
  }
}

.box-header-edit {
  cursor: move;
  background-color: rgba(26, 89, 213, 0.47);
  h4 {
    cursor: move;
  }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }

  100% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
  }

  100% {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
  }
}

.box-content {
  // padding: 0px;
  //ToDo: This fix is not working 100% need to revisit.
  //This had to be added otherwise the widget were overflowing the gridster cotnainers.
  //Not really using this fix now but keeping it here for reference
  //https://github.com/ManifestWebDesign/angular-gridster/issues/222
  //position: relative;
  //top:49px;
  //height: auto;
  //left: 0;
  //bottom: 0;
  //right: 0;
  //overflow: auto;
  //margin: 1px;

  height: 100%;
  overflow: auto;
}

.box-content-wrapper {
  position: relative;
  /* padding: 0px; */
  /* top: 49px; */
  /* left: 0; */
  /* bottom: 0; */
  /* right: 0; */
  height: 100%;
  // overflow: auto;
  //margin: 1px;
}

.box-header-btns {
  top: 15px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}

/////////////////////////////WIDGET STYLING END ///////////////////////////////////
/////////////////////////////INTERACTIVE PIE CHART STYLING START ///////////////////////////////////
.interactive-pie-chart {

  height: 360px;
  margin: 0 auto; /* NEW */
  position: relative;
  width: 360px;

}

.interactive-pie-chart {
  .interactive-pie-chart-tooltip {
    display: none;
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
  }
  .legend {
    font-size: 12px;
  }
  rect {
    cursor: pointer; /* NEW */
    stroke-width: 2;
  }
  rect.disabled {
    /* NEW */
    fill: transparent !important; /* NEW */
  }
  /* NEW */
  h1 {
    /* NEW */
    font-size: 14px; /* NEW */
    text-align: center; /* NEW */
  }
  /* NEW */
}

/////////////////////////////INTERACTIVE PIE CHART STYLING END ///////////////////////////////////
/////////////////////////////DATASOURCES START////////////////////////////////////////////////////
.datasources {
  .datasource-container {
    display: inline-block;
  }
}

/////////////////////////////DATASOURCES END//////////////////////////////////////////////////////
///////////////////////////// SETTINGS START//////////////////////////////////////////////////////
.configuration-settings {
  .btn-xs {
    padding: 1px 13px;
  }
}

.add-button {
  .btn;
  .btn-sm;
  .btn-primary;
}

//Add shadown and colour change on hover
.button-hover {
  &:hover {
    background-color: #4375c7;
    boder-color: #4375c7;
    box-shadow: @paperhover;

  }
  transition: all .3s ease-out;
}

.button {
  box-shadow: @paper1half;
  .btn;
  .btn-sm;
  .btn-primary;
  .button-hover;
}

.button-xs {
  box-shadow: @paper1half;
  .btn;
  .btn-xs;
  padding: 1px 13px;
  .btn-primary;
  .button-hover;
}

.modify-button {
  .btn;
  .btn-xs;
  .btn-xs {
    padding: 1px 2px;
  }
  .btn-primary;
}

.title-line {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  text-shadow: 0 1px 0 #FFFFFF;
  //display: block;
  padding-left: 3px;
}

.info-line {
  font-size: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
  //display: block;
  padding-left: 20px;
}

select {
  .form-control;
  height: 23px;
  width: auto;
  font-size: 14px;
}

//This is adding properties to the css class which exists in sb-admin.css
.dropdown-multiselect-container {
  overflow: auto;
  padding: 6px 12px;
}

/////////////////////////////SETTINGS END////////////////////////////////////////////////////////
//Removes the default outline that appears around elements when theya are in focus.
:focus {
  outline: none;
}

/////////////////////////////FEED STATUS START////////////////////////////////////////////////////////
.feed-status {
  float: left;
  .feed-name {
    text-decoration: none;
    cursor: pointer;
  }
}

.feed-status-container {
  margin: 22px;
}

/////////////////////////////FEED STATUS END////////////////////////////////////////////////////////

/////////////////////////////OTHER////////////////////////////////////////////////////////

.upcoming {
  color: @list-group-disabled-text-color;
}
