
@logo-size : 30px;
@hexRatio : 0.57735;

.hex-trans(@n) {
  &:nth-child(@{n}) {
    transform: rotateZ(60deg*( @n - 1 )) translateY(@logo-size * @hexRatio - @logo-size/10);
  }
}

.synthesisLogo {
  span {
    position: absolute;
    font-size: @logo-size*2;
    font-style: italic;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    color: @brand-primary;
    left: @logo-size*2.01;
    top: 0px;
  }

  margin-left: auto;
  margin-right: auto;
  // border: 1px black solid;
  width: @logo-size*11.5;
  height: @logo-size*2.5;

  perspective: @logo-size*2;
  perspective-origin: 0px @logo-size;
  .hexagons {
    transform: rotateY(15deg);
    position: absolute;
    top: @logo-size/2;
    left: @logo-size/2;
    .hexagon {
      i {
        position: absolute;
        width: @logo-size * @hexRatio + @logo-size/20;
        height: @logo-size/10;
        background: @brand-primary;
        .hex-trans(1);
        .hex-trans(2);
        .hex-trans(3);
        .hex-trans(4);
        .hex-trans(5);
        .hex-trans(6);
      }
      &:nth-child(2) {
        transform: translate(@logo-size, @logo-size* @hexRatio);
      }
      &:nth-child(2) i {
        background: #727477;
      }
    }
    .hexagonSolid {
      height: @logo-size;
      width: @logo-size * @hexRatio;
      position: absolute;
      background: #727477;
      transform: translate(0, @logo-size * @hexRatio + @logo-size/10 + @logo-size/20);
      &:before {
        position: absolute;
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(60deg);
      }

      &:after {
        position: absolute;
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(-60deg);
      }
    }
  }

}