
<!------This is the widgets toolbox--------------------------->
<div ui-view="toolbox"></div>
<!----------------------------------------------------------------->
<!--This is the html to display the button which toggles edit mode-->
<div class="edit-button" ng-class="{'inEditMode':inEditMode}" 
  title="Edit widgets on your screen">

  <button ng-class="{'enabled':inEditMode,'disabled':!inEditMode}"
          ng-click="gridEditMode()" ng-show="false">
    <div class="pencil"></div>
  </button>
</div>
<!----------------------------------------------------------------->

<!--This is the html to display the reset widget layout button-->
<div class="revert-layout-button" ng-init="setDefaultLayout()" title="Revert widgets to default layout">
  <button ng-show="inEditMode"
          ng-click="setDefaultLayout()"><div class="refresh"></div></button>
</div>
<!----------------------------------------------------------------->

<!------This is the html for the actual layout of the widgets--------------------------->
<div ui-view="widgets"></div>
<!------------------------------------------------------------------------------------->

<!---------------------This is the datasources toolbox--------------------------------->
<!--This view has to be here otherwise the data-sources are not in available on the dashboard. -->
<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
  <div ui-view="data-sources"></div>
</div>
<!------------------------------------------------------------------------------------->
