/** Add css rules here for your application. */

nav {
    width: 150px;
    height: 200px;
    float: left;
}

#content {
    float: left;
    height: 200px;
}

.bottomBorderOnly {
    border-bottom-style: solid;
    border-bottom-color: #D0D0D0;
    border-bottom-width: 2px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

.customClickable{
    color: blue;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-style: normal;
}
