body {
	font-family:Sans-Serif;
}
.container {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.leftCol {
	width: 390px;
	float: left
}
.midCol {
	width: 780px;
	float: left;
	text-align: center;
}
.rightCol {
	width: 390;
	float: left;
	text-align: right;
}
.clearleft {
	clear: left;
}
h1 {
	margin: 30px 10px;
}
.banklogo {
	margin-left: 70%;
}
.midcol img {
	margin: 10 auto;
}
.formcontainer {
	width: auto;
}
.errormsg {
	text-align: center;
	margin: 10px 0px;
	color: #cc2222;
}
.clickable {
	color: blue;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-style: italic;
}
.customClickable{
    color: blue;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-style: normal;
    background: transparent;
}

.clickableHover {
	color: blue;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	cursor: pointer;
	font-style: italic;
}
.customClickableHover {
	color: blue;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-style: normal;
	background: transparent;
}
.linkable,
.linkableOver,
.linkableDark,
.linkableOverDark,
.linkableSelected,
.linkableSelectedDark,
.linkableSelectedOver,
.linkableSelectedOverDark,
.linkableDisabled,
.linkableDisabledDark {
    color: blue;
   	font-size:11px;
   	font-family:Arial, Helvetica, sans-serif;
   	cursor: pointer;
   	font-style: italic;
    border-top: 1px solid #FAFAFA;
    border-bottom:1px solid #EDEDED;
}
.linkableDark {
    background-color:#fafafa;
}
.linkableOver,
.linkableOverDark {
    background-color:#daecff;
    text-decoration:underline;
}
.linkableSelected,
.linkableSelectedDark {
    background:#d9e4f6;
    border-top: 1px dotted #9fb7e9;
    border-bottom: 1px dotted #9fb7e9;
}
.linkableSelectedOver,
.linkableSelectedOverDark {
    background:#d0dff6;
    border-top: 1px dotted #9fb7e9;
    border-bottom: 1px dotted #9fb7e9;
    text-decoration:underline;
}
.linkableDisabled,
.linkableDisabledDark {
	color:#AAAAAA;
	background-color:#FFFFFF;
}
.slidingDiv {
	background-color: #99CCFF;
	padding:20px;
	margin-top:10px;
	border-bottom:5px solid #3399FF;
} 
.show_hide {
	display:none;
}

.SystemProps {
	font-size: 10px;
	text-align: center;
}

dl {
	text-align: left;
	word-wrap: break-word;
	padding: 0.5em;
}
dt {
	font-weight: bold;
}
dt:after {
	content: ":";
}
dd {
	display: block;
	padding: 0 0 0.5em 0;
}

#tXstreamLogo {
	display: inline;
}