<div class="loginScreen">
  <div class="col-sm-12 login-box">
    <div class="text-center">
      <h3>User Login:</h3>
    </div>
    <form class="form-horizontal login">
      <fieldset class="col-sm-12">
        <div class="form-group">
          <div class="controls row">
            <div class="input-group col-sm-12">
              <input ng-model="_email" type="text" class="form-control"
                     placeholder="Username or E-mail"/>
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="controls row">
            <div class="input-group col-sm-12">
              <input ng-model="_password" type="password" class="form-control" placeholder="Password"/>
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-primary btn-login col-xs-12"
                  ng-click="LoginModalCtrl.submit(_email, _password)">Login
          </button>
          <div class="login-cancel">
            <a class="col-xs-12 text-center"
               ng-click="LoginModalCtrl.cancel()">Cancel
            </a>
          </div>
        </div>
        <div class="alert alert-danger" ng-show="errorMessage" role="alert">{{errorMessage}}</div>
      </fieldset>
    </form>
  </div>
</div>