<style>
  .nvd3 g.nv-groups path.nv-line {
    stroke-opacity: 1;
    stroke-width: 6px;
  }
  .nv-point {
      stroke-opacity: 1!important;
      stroke-width: 8px!important;
      fill-opacity: 1!important;
  }
</style>

<div ng-if="!isEmpty()" style="height: 100%; margin-bottom: 5%;">
    <nvd3 options="LineBarChart" data="data"></nvd3>
</div>

<div ng-if="isEmpty()">
    <h3 style="text-align:center">Currently no Errors in the System</h3>
</div>
